<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Photogram | Home</title>

    <!-- Bootstrap -->
    <link href="/public/css/bootstrap.min.css" rel="stylesheet">
    <link href="/public/css/animate.min.css" rel="stylesheet">
	<link href="/public/css/font-awesome.min.css" rel="stylesheet">
	<link href="/public/css/style.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
	  <div class="container">
		<!-- Brand and toggle get grouped for better mobile display -->
		<div class="navbar-header">
		  <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
			<span class="sr-only">Toggle navigation</span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
		  </button>
		  <a class="navbar-brand" href="/logged">Photogram</a>
		</div>

		<!-- Collect the nav links, forms, and other content for toggling -->
		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
		  <form class="navbar-form navbar-left" role="search">
	        <div class="form-group">
	          <input type="text" class="form-control" placeholder="Search" id="search">
	        </div>
	        <button type="submit" class="btn btn-default">Submit</button>
	      </form>
		  <ul class="nav navbar-nav navbar-right">
		  	<li><a href="#"><span id="type"></span></a></li>
			<li><a href="/profile">Welcome<b id='user'> {{user.username}}</b><span id="show"></span></a></li>
			{{#if new}}
			<li class="dropdown"><a href="/logged" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-image fa-lg"><span class="badge">{{new}}</span></i></a>
		        <ul class="dropdown-menu">
		        {{#if noviews}}
		        	{{#each noviews}}
			        	<li><a href="/image/{{uniqueId}}">
								<img src="/public/upload/{{filename}}" class="img-thumbnail" style="height:75px; width: 100%;" />
							</a>
						</li>
		            {{/each}}
		         {{/if}}
		        </ul>
        	</li>
			{{/if}}	
			<li><a href="/chat"><b>Let's Chat</b></a></li>
			<li><a href="/mail"><b>Send a Mail</b></a></li>
			<li><a href="/logout">Logout</a></li>
		  </ul>
		</div><!-- /.navbar-collapse -->
	  </div><!-- /.container-fluid -->
	</nav>
	
	<div class="container">
		<div class="row">
			<div class="col-md-8 left">
				<section class="col-md-12 upload_area">
					<h4>Upload an Image</h4>
					<form class="form-horizontal" role="form" method="post" action="/image" enctype="multipart/form-data" >
					  <div class="form-group">
						<label for="file" class="col-sm-2 control-label">Browse</label>
						<div class="col-sm-10">
						  <input type="file" class="form-control" id="file" name="file">
						</div>
					  </div>
					  <div class="form-group">
						<label for="title" class="col-sm-2 control-label">Title</label>
						<div class="col-sm-10">
						  <input type="text" class="form-control" id="title" placeholder="Enter Title" name="title">
						</div>
					  </div>
					  <div class="form-group">
						<label for="description" class="col-sm-2 control-label">Description</label>
						<div class="col-sm-10">
						  <textarea class="form-control" id="description" placeholder="Enter Description" name="description"></textarea>
						</div>
					  </div>
					  <div class="form-group">
						<div class="col-sm-12 text-right">
						  <button type="submit" class="btn btn-primary">Upload Image</button>
						</div>
					  </div>
					</form>
				</section>
				<section class="col-md-12 newest_images">
					<h4>Newest Images</h4>
					{{#if images}}
						{{#each images}}
							<a href="/image/{{uniqueId}}">
								<div class="col-md-4 bounceIn wow"  data-wow-delay="{{delay}}s"  style="margin-bottom:15px;">
									<img src="/public/upload/{{filename}}" class="img-thumbnail" style="width:100%; height:150px;" />
								</div>
							</a>
						{{/each}}
					{{else}}
						<p class="text-muted">The Newest Images will show up here.</p>
					{{/if}}
				</section>
			</div>
			<div class="col-md-4">
				<div class="row">
					<section class="col-md-12 stats">
						<h4>Stats</h4>
						<div class="col-md-6">
							Images
						</div>
						<div class="col-md-6 text-right">
							{{sidebar.stats.images}}
						</div>
						<div class="col-md-6">
							Comments
						</div>
						<div class="col-md-6 text-right">
							{{sidebar.stats.comments}}
						</div>
						<div class="col-md-6">
							Views
						</div>
						<div class="col-md-6 text-right">
							{{sidebar.stats.views}}
						</div>
						<div class="col-md-6">
							Likes
						</div>
						<div class="col-md-6 text-right">
							{{sidebar.stats.likes}}
						</div>
					</section>
					<section class="col-md-12 popular_images">
						<h4>Popular Images</h4>
						{{#if sidebar.images}}
							{{#each sidebar.images}}
								<div class="col-md-4 wow fadeInUp" data-wow-delay="{{delay}}s" style="margin-bottom:15px;">
									<a href="/image/{{uniqueId}}">
									<img src="/public/upload/{{filename}}" class="img-thumbnail" style="width:100%; height:75px;" />
									</a>
								</div>
							{{/each}}
						{{else}}
							<p class="text-muted">The Most Popular Images will show up here.</p>
						{{/if}}
					</section>
					<section class="col-md-12 latest_comments">
						<h4>Latest Comments</h4>
						<ul class="media-list">
							{{#if sidebar.comments}}
								{{#each sidebar.comments}}
									<li class="media">
										<a class="pull-left" href="#">
											<img class="media-object" src="/public/upload/{{image.filename}}" width="45px" height="45px" />
										</a>
										<div class="media-body">
											{{comment}}<br/>
											<strong class="media-heading">{{name}}</strong>
											<small class="text-muted">{{timeago timestamp}}</small>
										</div>
									</li>
								{{/each}}
							{{else}}
								<p class="text-muted">The Latest comments will show up here.</p>
							{{/if}}
						</ul>
					</section>
				</div>
			</div>
		</div>
	</div>
	
	<footer>
		<div class="container">
			<div class="col-md-12 text-center wow fadeInUp" data-wow-delay="0.9s">
				<p>&copy; Photogram 2018. All Rights Reserved.</p>
			</div>
		</div>
	</footer>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
	<script src="/public/js/jquery.js"></script>
    <script src="/public/js/bootstrap.min.js"></script>
    <script src="/public/js/wow.min.js"></script>
	<script src="/public/js/script.js"></script>
	<script>
        new WOW().init();
    </script>
  </body>
</html>